:root {}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F5F7FA;
}

img {
    display: block;
}

button {
    font-family: "Poppins", sans-serif;
}

input {
    outline: none;
}

button {
    outline: none;
    border: none;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p,
h2,
h3,
h4,
h5,
h6,
h1 {
    margin: 0px;
}

form>input {
    width: 100%;
    color: #FFFFFF
}

button {
    cursor: pointer;
}

input {
    padding: 14px 20px;
}

.accent {
    color: #2DA5F3;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 10px;
}

.header {
    background: rgba(8, 32, 54, 1);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header__input {
    width: 374px;
    height: 48px;
    padding: 14px 20px;
    border-radius: 4px;
}

.header__item {
    text-align: center;
}

.header__text {
    display: grid;
    gap: 6px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    color: rgba(255, 255, 255, 1);
}

.header__text>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__text div:first-child {
    min-height: 28px;
}

.logo {
    margin-right: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    min-height: 800px;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url(img/header/hero-img.png);
    background-repeat: no-repeat;
    background-position: top 0px center;
    background-size: cover;
}

.hero button {
    width: 100%;
}

.hero__input {
    min-width: 570px;
    min-height: 48px;
    border-radius: 4px;
    margin-bottom: 15px;

    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    margin-top: 15px;
}

.header__btn {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(245, 247, 250, 1);
    background: rgba(45, 165, 243, 1);
    padding: 0px 28px;
    max-height: 40px;
}

.hero__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(45, 165, 243, 1);
    margin-bottom: 13px;
}

.hero__about {
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 33px;
}

.hero__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.hero__password {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(45, 165, 243, 1);
    margin-bottom: 28px;
}

.hero__content {
    max-width: 579px;
}

.hero__btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;
    text-align: left;

    color: rgba(255, 255, 255, 1);
    background: rgba(45, 165, 243, 1);

    padding: 13px 260px;
    border-radius: 4px;

    margin-bottom: 28px;
}

.hero__btn-second {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;

    padding: 13px 28px;
    border-radius: 4px;

    color: rgba(255, 255, 255, 1);

    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}

.partners {
    padding-top: 80px;
    padding-bottom: 100px;
}


.partners__text {
    color: #6E7175;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;

    font-weight: 400;
    letter-spacing: 0.04em;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 60px;
}

.partners__item {}

.partners__about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.partners__name {
    max-width: 350px;
    text-align: center;
    box-shadow: 0px 2px 15px 0px rgba(190, 196, 201, 0.25);
    background-color: #FFFFFF;

    padding: 30px 38px;
}

.partners__text-main {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.003em;
    text-align: left;
    color: rgba(8, 32, 54, 1);
    margin-bottom: 10px;
    margin-top: 26px;
    text-align: center;
}

.partners__about-bottom {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.003em;
    text-align: center;
    margin-bottom: 38px;
}

.partners__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(8, 32, 54, 1);
    padding: 10px 13px;
    border-radius: 4px;

    border: 2px solid rgba(8, 32, 54, 1);
    background-color: transparent;
}

.about {
    background-image: url('img/Background.png');
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 366px;
    padding-bottom: 50px;
}

.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 85px 93px 63px 86px;
    background-color: rgba(255, 255, 255, 1);
}

.about__top-name {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 27px;
    min-width: 67px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 15px;
    background: rgba(232, 232, 232, 0.5);

    margin-left: 4px;
}

.about__top-name::before {
    content: " ";
    background: rgba(8, 32, 54, 1);
    display: block;
    height: 23px;
    width: 4px;
    position: absolute;
    left: -4px;
    top: 0;
}

.about__text {
    font-size: 35px;
    font-weight: 600;
    line-height: 35px;
    color: rgba(45, 165, 243, 1);
    margin-bottom: 15px;
}

.about__about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(95, 108, 114, 1);
    margin-bottom: 50px;
}

.about__btn {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    background-color: rgba(45, 165, 243, 1);
    padding: 10px 24px;
    color: rgba(245, 247, 250, 1);
}

.team {
    padding: 50px 0px;
}

.team__text {
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 50px;
    max-width: 582px;
}

.team__about {
    position: relative;
    padding-left: 40px;

    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 672px;
    margin-bottom: 50px;

    color: rgba(95, 108, 114, 1);
}

.team__about::before {
    position: absolute;
    display: block;
    content: " ";
    width: 10px;
    height: 100%;
    background: rgba(45, 165, 243, 1);
    top: 0;
    left: 0;

}

.team__list {
    display: flex;
}

.team__item {
    margin-right: 20px;
}

.team__item>img {
    margin-bottom: 12px;
}

.team__block {
    display: flex;
}

.team__block-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backdrop {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.backdrop__wrapper {
    position: relative;
}

.team__block-right:hover .backdrop {
    visibility: visible;
}

.statistic {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic__list {
    max-width: 150px;
    display: grid;
    gap: 50px;
    color: #FFFFFF;

    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
}

.team__img-big {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}


.team__name {
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    margin-right: 7px;
}

.team__work {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.team__link {
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(45, 165, 243, 1);
}

.team__last-string {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.team__link-main {
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    text-decoration: none;
    color: rgba(45, 165, 243, 1);
}

.team__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
    color: rgba(245, 247, 250, 1);
    background-color: rgba(45, 165, 243, 1);
    padding: 15px 27px;
    border-radius: 2px;
    margin-top: 60px;
}

.team__left-part {
    display: flex;
    align-items: center;
    width: 100%;
}

.team__name-main {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    margin-right: 7px;
}

.teal__list-star {
    display: flex;
    height: max-content;
}

.team__work-main {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.projects {
    text-align: center;
    padding: 50px 0px;
}

.projects__list {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin-bottom: 50px;
}

.projects__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects__main {
    color: #082036;
    font-weight: 600;
    font-size: 40px;
    max-width: 718px;
    text-align: center;
    line-height: 48px;
    letter-spacing: 0em;
    margin: 0px auto 27px auto;
    margin-top: 50px;

}

.projects__about {
    color: #5F6C72;
    font-weight: 400;
    max-width: 757px;
    margin: 0px auto 50px auto;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
}

.projects__name {
    color: #082036;
    font-weight: 700;
    font-family: Inter;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.18000000715255737px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 50px;
}

.projects__btn {
    background: #2DA5F3;
    color: #F5F7FA;
    padding: 15px 20px;
    border-radius: 4px;
    max-width: 180px;
    max-height: 52px;

    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-align: center;
}

.products {
    padding-top: 50px;
    padding-bottom: 50px;
}

.products__main {
    font-size: 40px;
    font-weight: 600;
    max-width: 610px;
    line-height: 44px;
    text-align: center;
    margin: 0px auto 41px auto;
}


.products__about {
    max-width: 607px;
    color: #5F6C72;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 27px;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.products__item {
    max-width: 277px;
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
}

.products__second-part-top {
    margin: 12px;
}

.products__item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__avatar {
    margin-right: 5px;
}

.products__name {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #222325;
}

.products__feedback {
    color: #77878F;
    margin-left: 4px;

    font-size: 12px;
    line-height: 16px;
}

.products__about {
    color: #191C1F;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 8px;
}

.products__divider {
    height: 5px;
    background-color: #082036;
    max-width: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.products__bottom-card {
    display: flex;
    justify-content: space-between;
}

.products__price {
    color: #2DA5F3;
}

.products__btn {
    background-color: #2DA5F3;
    color: #FFFFFF;
    min-height: 19px;
    min-width: 50px;
    /* padding: 2px 13px; */
}

.products__wrapper {
    display: flex;
}

.products__stars {
    display: flex;
}

.products__btn-second-main {
    display: flex;
    justify-content: center;
}

.products__btn-second {
    background-color: #2DA5F3;
    color: #F5F7FA;
    padding: 15px 20px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    border-radius: 4px;
    max-width: 180px;
    max-height: 52px;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback__together {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 71px;
}

.feedback__content {
    max-width: 519px;
}

.feedback__title {
    font-size: 36px;
    font-weight: 600;
    color: #082036;
    line-height: 52px;
    margin-bottom: 9px;


}

.feedback__text {
    color: #5F6C72;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
}

.feedback__card {
    padding-left: 50px;
    position: relative;
}

.feedback__card::before {
    content: " ";
    background-image: url(img/feedback/decor.png);
    display: block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 0;
}

.feedback__stars {
    display: flex;
    gap: 8px;
}

.feedback__bottom {
    margin-top: 14px;
    font-size: 16px;
    font-style: italic;
    color: #5F6C72;
}

.feedback__group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.feedback__name {
    color: #082036;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.feedback__work {
    color: #77878F;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.banner {
    padding-top: 50px;
    padding-bottom: 100px;
}

.banner__content {
    background-color: #2DA5F3;
    padding: 65px 91px 65px 81px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: url(img/banner/decor.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner__title {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    font-weight: 400;
    max-width: 379px;
    margin-bottom: 20px;
}

.banner__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.banner__group-logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.banner__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.banner__bottom {
    display: flex;
    align-items: center;
}


.banner__btn {
    padding: 15px 60px;
    background-color: #FFFFFF;
    border: none;
    color: #082036;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.3px;
    border-radius: 4px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
}

.footer__name {
    color: #2DA5F3;
    font-weight: 500;
    font-size: 20px;
}

footer {
    background: #082036;
    padding: 60px 0px;
}

.footer__list {
    color: #E0E0E0;
    margin-top: 24px;
    margin-bottom: 44px;
}

.footer__divider {
    height: 1px;
    background-color: rgba(224, 224, 224, 0.5);
}

.footer__left {
    display: flex;
    width: 100%;
    align-items: center;
}

.footer__text {
    color: rgba(45, 165, 243, 1);
    margin-left: 24px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__item {
    margin-right: 24px;
}

.footer__btn {
    background: rgba(58, 134, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 13px 54px;
    margin-left: 16px;
}

.footer__right {
    display: flex;
}

.footer__bottom {
    display: flex;
    padding-top: 24px;
}

.footer__input {
    height: 46px;
    width: 270px;
    padding: 13px 15px;
}

.footer__input:placeholder {
    font-size: 12px;
    line-height: 18px;
}